<section class="card" [appCourseBorder]="course.creationDate"
[ngClass]="course.topRated  ? 'topRateCard' : 'noRateCard'">
    <div class="card__wrapper">
        <div class="card__row_1">
            <div class="card__title">Video course <span>{{ index }}</span>. <span class="title">{{course.title | uppercase}}</span>
            <span *ngIf="course.topRated">
                <img src="assets/card-assets/star.png" alt="star" class="star-icon">
            </span></div>
            <div class="card__info">
                <div class="card__duration">
                    <img src="assets/card-assets/clock.png" alt="clock" class="card-icon">
                    <p class="card_d_text duration">{{course.duration | durationFormat}}</p>
                </div>
                <div class="card__date">
                    <img src="assets/card-assets/calendar.png" alt="calendar" class="card-icon">
                    <p class="card_d_text creationDate">{{course.creationDate | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
        </div>
        <div class="card__row_2">
            <p class="card__text">{{course.description}}</p>
            <div class="card__info">
            <button class="card__btn editBtn" [routerLink]="['/courses', course.id]" (click)="editcourseHandler()">
                <img src="assets/card-assets/draw.png" alt="edit" class="card-btn-icon">
                <p class="card-btn__text"> Edit</p>
            </button>
            <button class="card__btn card__btn_2 deleteBtn" (click)="deleteCourse(course.id)">
                <img src="assets/card-assets/trash.png" alt="delete" class="card-btn-icon">
                <p class="card-btn__text"> Delete</p>
            </button>
        </div>
        </div>
    </div>
</section>